// 色の定義

$MainC:#436fc0;
$MainC100:rgba(67, 111, 192, 0.3);
$SubC500:#d9e2f2;
$SubC100:#ecf1f9;
$AccentC:#f06570;

$Neutral0:#fff;

$TextC900:#1b2c4d;
$TextC600:rgba(27,44,77,0.7);
$TextC300:rgba(27,44,77,0.5);
$TextC100:rgba(27,44,77,0.3);



$MainColor:#363636;
$BaseColor1:#fff;
// $BaseColor2:;
// $AccentColor1:;
// $AccentColor2:;
// $InnerMask:rgba(54,54,54,0.6);
